.container {text-align:left; margin-left:17%; margin-right:17%; border-left:#CCCCCC 1px solid;}


.top_table {width:100%; }
.top_img {width:0pt; }
.top_text {padding-left:20pt; font-size:12pt; width:100%}

.page_body {font-size: 16pt; padding: 2pt; padding-top:10pt; width:100%;}

.page_body_h1 {font-weight:bold; font-size: 13pt; }
.page_body_h0 {font-size: 9pt; }
.page_body_spacing {font-size: 4pt; }

